body {
  margin: 0;
  height: 100vh;
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  z-index: -999;
  
}

#menu {
  position: absolute;
  top: 10%;
  left: 10px;
  width: 180px; /* Компактное меню */
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#menu input {
  width: 120px; /* Уменьшенная ширина */
  margin-right: 5px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: white;
  border-radius: 3px;
  outline: none;
}

#menu button {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  outline: none;
}

#menu button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

ul {
  width: 165px;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0; /* Убираем лишние отступы */
}

li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  word-break: break-word; /* Текст не будет вылазить за рамки */
}

li button {
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  cursor: pointer;
}

li button:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

#neonCanvas {
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
  height: 100vh;
  border: 5px solid;
  border-image: linear-gradient(45deg, #fff, #ff0, #0ff) 1;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}